[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fund-me/lib/forge-std"]
	path = foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fund-me/lib/foundry-devops"]
	path = foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-smary-contract-lottery-f23/lib/forge-std"]
	path = foundry-smary-contract-lottery-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-smary-contract-lottery-f23/lib/chainlink-brownie-contracts"]
	path = foundry-smary-contract-lottery-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-smary-contract-lottery-f23/lib/solmate"]
	path = foundry-smary-contract-lottery-f23/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry-smary-contract-lottery-f23/lib/foundry-devops"]
	path = foundry-smary-contract-lottery-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
